.App {
  /* text-align: center; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;    
  font-family: 'Abel', sans-serif;
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  .imgRotate {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes spin {
  from{
    transform: rotateX(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateX(0deg);
  }to{
    transform: rotateX(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateX(360deg);
  }
}
.spiningArrows{
    animation-name: spin;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 7s;
}
