.App {
  /* text-align: center; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;    
  font-family: 'Abel', sans-serif;
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  .imgRotate {
    animation: App-logo-spin infinite 20s linear;
  }
}

main{
  min-height: 600px;
  background-image: url("./currencyBG.jpg");
  background-repeat: no-repeat;
}

@keyframes spin {
  from{
    transform: rotateX(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateX(0deg);
  }to{
    transform: rotateX(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateX(360deg);
  }
}
.spiningArrows{
    animation-name: spin;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 7s;
}

@media only screen and (max-width: 500px){ 
  .md-h2{
    font-size: 0.7em;
  }

  main{
    min-height: auto;
    background-image: none;
  }
}
